@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}
body{
    background: #9ec4fb;
    padding: 40px;
}
/*------------------------Container start-------------------*/
#container{
    width: 100%;
    padding: 40px;
    background: #02044a;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}
/*----------------------Left-side start---------------------*/
.left-side{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
.left-side .info{
    width: 100%;
    padding: 20px 40px;
}
.left-side .info h1{
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 10px;
}
.left-side .info p{
    font-size: 1.1rem;
    color: #fff;
    line-height: 30px;
}
.left-side .contact{
    width: 100%;
    padding: 0 40px;
}
.left-side .contact ul li{
    margin-bottom: 30px;
}
.left-side .contact ul li a{
    display: inline-block;
    width: 70%;
    padding: 12px;
    border: 2px solid transparent;
    color: #fff;
    transition: border 0.1s linear;
}
.left-side .contact ul li a:hover{
    border: 2px solid #0954ca;
    border-radius: 6px;
}
.left-side .contact ul li i{
    color: #0954ca;
    margin-right: 15px;
}
.left-side .social{
    width: 100%;
    padding: 0 40px;
}
.left-side .social ul li{
    float: left;
    margin-right: 10px;
}
.left-side .social ul li a{
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    transition: border 0.1s linear;
}
.left-side .social ul li i{
}
.left-side .social ul li a:hover{
    background: #0954ca;
}
/*----------------------Left-side end---------------------*/

/*----------------------Right-side start---------------------*/

.right-side{
    width: 40%;
    height: 100%;
    padding: 20px;
}
.right-side form{
    width: 100%;
    height: 550px;
    background: #fff;
    padding: 40px;
    border-radius: 15px;
}
.right-side label{
    font-weight: 600;
    color: #2a2c67;
}
.right-side form input, 
.right-side form textarea{
    width: 100%;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid #e6e6ec;
    border-radius: 6px;
    outline: none;
    font-size: 1rem;
}
.right-side form textarea{
    height: 150px;
    resize: none;
}
.right-side form input[type="submit"]{
    width: 50%;
    background: #0c75ff;
    color: #fff;
    font-weight: 600;
    float: right;
    cursor: pointer;
    transition: 0.1s linear;
}
.right-side form input[type="submit"]:hover{
    background: #005bd3;
}
/*----------------------Right-side end---------------------*/

/*----------------------Media query---------------------*/
@media (max-width: 1100px){
    .left-side{
        width: 100%;
    }
    .left-side .contact ul li a{
        font-size: 0.9rem;
    }
    .right-side{
        width: 100%;
    }
    .right-side form{
        padding: 20px;

    }
}
@media (max-width: 576px){
    .left-side .contact ul li a{
        font-size: 0.7rem;
    }
    .right-side form input, 
    .right-side form textarea{
        padding: 6px;
        font-size: 0.7rem;
    }
    .left-side .social ul li{
        margin-right: 5px;
    }
    .left-side .social ul li a{
        width: 30px;
        height: 30px;
        line-height: 30px;

    }
    .right-side form{
        height: 400px;
    }
    .right-side form textarea{
        height: 80px;
    }
}
@media (max-width: 420px){
    .left-side .contact ul li a{
        font-size: 0.5rem;
    }
}